@use "utils";
@use "fonts";
@use "blocks/title";
@use "blocks/text";
@use "blocks/link";
@use "blocks/menu";
@use "blocks/nav";
@use "blocks/header";
@use "blocks/main";
@use "blocks/what-we-bake";
@use "blocks/card";
@use "blocks/about";
@use "blocks/footer";
@use "utils/vars";

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.page {
  margin: 0;
  background: vars.$c-pink;
  font-family: "Inter", sans-serif;
}

.blue {
  background: vars.$c-blue;
}

.page-menu {
  overflow: hidden;
}

.animate-on-scroll-left {
  opacity: 0;
  transform: translate(-50%);
  transition: opacity 1s, transform 3s;
}

.animate-on-scroll-right {
  opacity: 0;
  transform: translate(10%);
  transition: opacity 3s, transform 3s;
}

.animate {
  opacity: 1;
  transform: translate(0);
}
